<div class="row head">
  <div class="col-sm-0"></div>
  <div class="col-sm-5 mt-2">
    <p class="fs-3">
      <i class="fa-solid fa-file"></i>
      <a href="/" class="a"> Welcome To Evidence Management System</a>
    </p>
  </div>
  <div class="col-sm-5 fs-5">
    <p class="text-end mt-3">
      <i class="fa-solid fa-right-to-bracket"></i>
      <a href="login" class="a">USER LOGIN</a>
    </p>
  </div>
  <div class="col-sm-2 fs-5 mt-3">
    <i class="fa-solid fa-user-plus"></i>
    <a href="signup" class="a mt-3">NEW USER SIGNUP</a>
  </div>
</div>
