<!DOCTYPE html>
{% load static %}
<html>
  <head>
    {% include "link.html" %}
  </head>
  <body id="bg" class="bg_image">
    {% include "_header.html"%}
    <div class="row">
      <div class="col-sm-5"></div>
      <div class="col-sm-2"></div>
      <div class="col-sm-4 margintopleft">
        {% if msg %}
        <p class="msgcolor">{{ msg }}</p>
        {% endif %}
        <br>
        <form method="post">
          {% csrf_token %}
          <label for="email" class="form-label fs-5" style="color: white"
            ><h4>Enter Your Registered Email</h4></label
          ><br />
          <input
            type="email"
            name="email"
            required
            class="form-control"
            placeholder="Department User-email"
          /><br />
          <button type="submit" class="btn btn-danger fs-5">
            Send Reset Link
          </button>
        </form>
       
      </div>

      <div class="col-sm-1"></div>
    </div>
  </body>
</html>
