<div class="row head">
  <div class="col-sm-5 mt-2">
    <p class="fs-4">
      <i class="fa-solid fa-file"></i>
      <a href="/" class="a ml-3"> Welcome To Evidence Management System</a>
    </p>
  </div>
  <div class="col-sm-2 fs-5">
    <p class="text-end mt-3">
      <i class="fa-solid fa-file-circle-plus"></i>
      <a href="add_information" class="a"> Add Information</a>
    </p>
  </div>
  <div class="col-sm-2 fs-5 mt-3">
   <i class="fa-solid fa-file-check"></i>
    <a href="check_information" class="a mt-3"> Check Information</a>
  </div>
  <div class="col-sm-2 fs-5 mt-3">
   <i class="fa-solid fa-clipboard-list-check"></i>
    <a href="check_history" class="a mt-3">Check History</a>
  </div>
  <div class="col-sm-1 fs-5 mt-3">
   <i class="fa-solid fa-right-from-bracket"></i>
    <a href="logout" class="a mt-3">Logout</a>
  </div>
</div>
