{% load static %}
<meta charset="UTF-8" />
<title>Evidence managememt system</title>
<link href="{% static 'css/bootstrap.css'%}" rel="stylesheet" />
<link href="{% static 'css/all.css'%}" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'css/style.css'%}" />
<link rel="stylesheet" href="{% static 'css/all.min.css'%}" />
<style>
  .bg_image {
    background-image: url('{% static "images/Untitled design.jpg" %}');
  }
</style>

<script src="{% static 'js/bootstrap.bundle.js'%}"></script>
