<!DOCTYPE html>
{% load static %}
<html>
  <head>
    {% include "link.html" %}
  </head>
  <body id="bg" class="bg_image">
    {% include "_header.html"%}
    <div class="row">
      <div class="col-sm-5"></div>
      <div class="col-sm-2"></div>
      <div class="col-sm-4 margintopleft">
        {% if msg %}
        <p class="msgcolor">{{ msg }}</p>
        {% endif %}
        <br />
        <label class="form-label fs-5" style="color: white"
          ><h3>Reset Your Password</h3>
        </label>
        <form method="post">
          {% csrf_token %}
          <label class="form-label fs-5" style="color: white"
            ><h5>New Password:</h5>
          </label>
          <div class="eye-position">
            <input
              type="password"
              name="password1"
              id="password1"
              required
              class="form-control"
              placeholder="New Password"
            />
            <span onclick="togglePassword('password1', this)" class="eye">
              <i class="fa-regular fa-eye"></i>
            </span>
          </div>
          <br />

          <label class="form-label fs-5" style="color: white"
            ><h5>Confirm Password:</h5></label
          >
          <div class="eye-position">
            <input
              type="password"
              name="password2"
              id="password2"
              required
              class="form-control"
              placeholder="Confirm Password"
            />
            <span onclick="togglePassword('password2', this)" class="eye">
              <i class="fa-regular fa-eye"></i>
            </span>
          </div>
          <br />

          <button type="submit" class="btn btn-danger fs-5">
            Reset Password
          </button>
        </form>
      </div>

      <div class="col-sm-1"></div>
    </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
